%h1 Listing Topics

%table
  %tr
    %th Name
    %th Thought Count
    %th
    %th
    %th
  - @topics.each do |topic|
    %tr
      %td= link_to topic.name, topic
      %td= topic.thoughts.count
      %td= link_to 'Show', topic


%br

= link_to 'New Topic', new_topic_path
