%section#container
  #examples
    %div{style: "font-style: italic" }
      from a #{example.source.medium} titled #{example.source.name}    
    %br
    #example-body= example.body 
    %br
    .btn-group.btn.btn-default.btn-sm= link_to 'Edit Example', edit_thought_example_path(@thought, example)
    /= link_to 'Delete Example', example_thought_path, method: :delete, data: { confirm: 'Are you sure?'}


