%section.main
  %section#container
    %h1 Edit Your Example
    = simple_form_for([@thought, @example]) do |form| 
      .btn-group{:style => "padding: 10px 0 10px 0;"}
        = form.association :source, :label => "Choose a Source", :input_html => {class: 'btn btn-default dropdown-toggle'} 
      %br
      = form.cktext_area :body, :class => "form-control", :ckeditor => {:toolbar => 'Basic'}
      %br{:style => "padding: 10px 0 10px 0;"}
      = form.button :submit, :class => "btn btn-primary"
  


