<%= form_for([@thought, @thought.examples.new]) do |f| %>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div class="actions">
	<%= f.submit "Add" %>
  </div>
<% end %>