// Place all the styles related to the Examples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';


section#container {
  size: 60%;
  overflow: auto;
  
}

#examples {
  text-align: left;
  color: #4c4c4c

}

#new-example {
  text-align: center;
  color: #4c4c4c

}
