// Place all the styles related to the Examples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';


section.main {
	padding: 20px;
}

section#container {
    width: 50%;
	  margin: 10px auto;
	  overflow: auto;
	}

#examples {
  text-align: left;
  color: #4c4c4c

}

#new-example {
  text-align: center;
  color: #4c4c4c

}
