// Place all the styles related to the Examples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';



#examples {
  padding-left: 200px;
  text-align: center;
  color: #4c4c4c
  /*border: 2px;*/
}

#new-example {
  padding-left: 200px;
  text-align: center;
  color: #4c4c4c
  /*border: 2px;*/
}
