// Place all the styles related to the Thoughts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

// Basic Elements //

p {
    color: #4c4c4c  
}

h2 {
    color: #383838; 
}

h3 {
  font-size: 15px;
  color: #383838;
}

a:hover {
	color: none;
	background: none;
}

// Thought Container //

section.main {
	padding: 20px;
}

section#container {
    width: 50%;
	  margin: 10px auto;
	  overflow: auto;
	}
		
#thought_header {
    padding: 30px;
    font-size: 30px;
    text-align: center;
	}

#thought-body {
    font-size: 18px;
    font-padding: 5%;
    color: #d1d125;
    padding: 10px;
    text-align: left;
}

// Thought forms //

#simple_form_edit_thought {
	margin: 10px auto;
	overflow: auto; 
}

#form {
  .container {
	  width: 100%;
  }
}

// Nested Examples //
#examples-heading {
  text-align: left;
  font-size: 22px;
  color: #898989;
}

#modifiers {
  text-align: right;
  font-size: 10px;
}

// Thought History //
#new-version {
  width: 50%;
  float: left;
	padding: 10px;
}

#old-version {
  width: 50%;
  float: right;
	padding: 10px;
}