// Place all the styles related to the Thoughts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

h2 {
    color: #383838; 
}

h3 {
  font-size: 15px;
  color: #383838;
}

#thought_header {
    padding: 30px;
    font-size: 30px;
    text-align: center;
}

p {
    color: #4c4c4c
    
}

section#container {
    width: 50%;
	  margin: 10px auto;
	  overflow: auto;
}

#thought-body {
    font-size: 18px;
    font-padding: 5%;
    color: #d1d125;
    padding: 10px;
    text-align: left;
}

#form {
    width: 50%;
	  margin: 10px auto;
	  overflow: auto; 
}

#examples-heading {
  text-align: left;
  font-size: 22px;
  color: #898989;
}

#modifiers {
  text-align: right;
  font-size: 10px;
}

#new-version {
  width: 50%;
  float: left;
}

#old-version {
  width: 50%;
  float: right;
}