#form
  .container
    = simple_form_for(@thought, html: {class: 'form-horizontal' }) do |form|
      = form.input :title, input_html: {maxlength: 50}
      %br
      = form.cktext_area :body, :class => 'form-control'
      %br{:style => "padding: 10px 0 10px 0;"}
        = form.button :submit, 'Update', :class => "btn btn-primary"

  

