%section#container
  
  %h1 Refine Your Idea

  = render 'form'
  .btn-group{:style => "padding: 10px 0 10px 0;"}
    = link_to 'Show', @thought, :class => 'btn btn-default'
    = link_to 'Back', :back, :class => 'btn btn-default'



