<div class="container">
  <h1>History</h1>
 
  <ul>
    <% @versions.each do |version| %>
      <li>
        <div class="container">

        <%= version.created_at.strftime("#{version.event}d %m/%d/%Y") %><br/>
        <div id="new-version">
          Current Version
          <pre><%= version.changeset['body'].last %></pre>
        </div>
        <div id="old-version">
          Previous Version:
          <pre><%= version.changeset['body'].first %></pre>
        </div>
          
        </div>
      </li>
    <% end %>
  </ul>
</div>