<div class="container">
  <h1>History</h1>
 
  <ul style="list-style-type: none;">
    <% @versions.each do |version| %>
      <li>
        <div class="container">

         <h4><%= version.created_at.strftime("#{version.event.capitalize}d %B %d, %Y  %l:%m %p ") %></h4><br/>
        <div id="new-version">
          Previous Version
          <pre><%= version.changeset['body'][0] %></pre>
        </div>
        <div id="old-version">
          New Version:
          <pre><%= version.changeset['body'][1] %></pre>
        </div>
          
        </div>
      </li>
    <% end %>
  </ul>
</div>