%section.main
  %h1 Thoughts and Ideas

  %table
    %thead
      %tr
        %th Ideas
    %tbody
      - @thoughts.each do |thought|
        %tr
          %td= link_to thought.title, thought
  %br
  = link_to 'Add Idea', new_thought_path, :class => 'btn btn-primary'
