%section.main
  %h1 Thoughts and Ideas

  %ul
    - Topic.all.order(:name).each do |topic|
      %li= topic.name
      %ul
        - topic.thoughts.each do |thought|
          %li= link_to thought.title, thought
    

  %br
  = link_to 'Add Idea', new_thought_path, :class => 'btn btn-primary'
