%header.navbar.navbar-default.navbar-fixed-top
  %nav
    %ul.nav.navbar-nav 
      %li= link_to "Thoughts", thoughts_path 
      %li= link_to "Quotes", quotes_path 
      %li= link_to "Topics", topics_path 
      %li= link_to "Sources", sources_path 
    
  

